<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>PRACTIONER RECORDS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pract of groupedArray | keyvalue">
    <h2>Gender:{{pract.key}}</h2>
    <ion-card *ngFor="let practioner of pract.value">
      <ion-item detail="false"   (click)="detail(practioner.detailurl, practioner)">
        <ion-grid>
          <ion-row>
            <ion-label> practioner url: {{practioner.detailurl}} </ion-label>
          </ion-row>
          <ion-row>
            <ion-label> practioner Id: {{practioner.id}} </ion-label>
          </ion-row>
          <ion-row>
            <ion-label> practioner Name: {{practioner.name}} </ion-label>
          </ion-row>
          <ion-row>
            <ion-label> practioner Role: {{practioner.role}} </ion-label>
          </ion-row>
          <ion-row>
            <ion-label> practioner Gender: {{practioner.gender}} </ion-label>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-card>


  
</ion-content>
